In [3]:
import pandas as pd
import json

nominal_df = pd.read_excel('data/nominal_accuracy.xlsx')
nominal_df['Cleaned Summary'] = nominal_df['Cleaned Summary'].round().astype('Int64')
nominal_df['Cleaned Disebutkan'] = nominal_df['Cleaned Disebutkan'].round().astype('Int64')
nominal_df

,interaction_id,Nominal yang disebutkan nasabah,Nominal yang muncul di Summary Conversation,Cleaned Disebutkan,Cleaned Summary,cer nominal
0,yAysdV,35.500.650,35.500.650,35500650,35500650,0.000
1,oNeJTv,1.250.500,1.250.500,1250500,1250500,0.000
2,buRfJA,3.467.750,3.467.750,3467750,3467750,0.000
3,vWXMGx,11.567.550,11.567.550,11567550,11567550,0.000
4,pOzHft,14.500.000,14.000.000,14500000,14000000,0.125
5,iamfTI,1.735.500,Tidak muncul,1735500,<NA>,NaN
6,fejWQm,24.500.750,24.500.750,24500750,24500750,0.000
7,defbuu,4.356.000,4.356.000,4356000,4356000,0.000
8,xXsVkl,15.750.750,15.750.750,15750750,15750750,0.000
9,LDUBDz,35.500.650,35.500.650,35500650,35500650,0.000
10,IkwvuR,2.730.000,2.730.000,2730000,2730000,0.000
11,XXMirx,1250500,tidak muncul,1250500,<NA>,NaN
12,uCrDqG,1250500,1250500,1250500,1250500,0.000
13,Kzrjte,3467750,3.467.750,3467750,3467750,0.000
14,pSomjZ,11567550,11567550,11567550,11567550,0.000
15,CCUWeQ,14500000,14500000,14500000,14500000,0.000
16,PNywPq,1735500,nominal tidak muncul,1735500,<NA>,NaN
17,giMmXj,24500750,24500750,24500750,24500750,0.000
18,GGFHDy,4356000,tidak muncul,4356000,<NA>,NaN
19,NaN,15.750.750,15.750.750,15750750,15750750,0.000
20,NXwePv,35500650,35.500.000,35500650,35500000,0.250
21,ilTtKc,2.730.000,2.730.000,2730000,2730000,0.000
22,NPeExN,1.250.500,1250500,1250500,1250500,0.000
23,zIKpCE,3.467.750,3.467.750,3467750,3467750,0.000
24,IaLwyJ,11.567.550,11.567.550,11567550,11567550,0.000
25,Jhrupw,14500000,14.500.000,14500000,14500000,0.000
26,DdfhKH,,,<NA>,<NA>,NaN
27,esUREQ,24.500.750,24.500.750,24500750,24500750,0.000
28,VhVXED,4.356.000,4.356.000,4356000,4356000,0.000
29,VJPhZY,15.750.750,tidak muncul,15750750,<NA>,NaN
30,OgLHqq,35.500.650,35500650,35500650,35500650,0.000
31,dDxrgN,2.730.000,2.730.000,2730000,2730000,0.000
32,IRJctw,Rp 1.250.500,Rp 1.250.500,1250500,1250500,0.000
33,eoJcNt,3.467.750,Tidak muncul,3467750,<NA>,NaN
34,LcRQus,11.567.560,11.567.550,11567560,11567550,0.125
35,oAuBPR,14.500.000,14.500.000,14500000,14500000,0.000
36,iyqAhC,1.735.500,1.735.500,1735500,1735500,0.000
37,ZxLRNx,24.500.750,24.750.000,24500750,24750000,0.375
38,eJLBQp,4.356.000,4.356.000,4356000,4356000,0.000
39,mLuYtF,15.750.750,15.750.750,15750750,15750750,0.000
40,apngOU,35.500.650,35.500.650,35500650,35500650,0.000
41,XIVrke,2.730.000,2.730.000,2730000,2730000,0.000
42,wvKPCZ,1.250.500,nominal tidak muncul,1250500,<NA>,NaN
43,ipqsZV,3.467.750,3.467.750,3467750,3467750,0.000
44,WFlnvl,11.567.550,11.567.000,11567550,11567000,0.250
45,garokb,14.500.000,14.500.000,14500000,14500000,0.000
46,myKkSw,1.735.500,1.735.500,1735500,1735500,0.000
47,TuUveh,24.500.750,24.500.075,24500750,24500075,0.250
48,aDZlQA,4.356.000,nominal tidak muncul,4356000,<NA>,NaN
49,YKovDp,15.750.750,15.750.000,15750750,15750000,0.250
50,dIVeRB,35.500.650,nominal tidak muncul,35500650,<NA>,NaN
51,IrfIfL,2.730.000,2.730.000,2730000,2730000,0.000

# GET DATA By Interaction ID

In [4]:
from google.cloud import bigquery
from collections import defaultdict

client = bigquery.Client()

grouped_transcript = defaultdict(list)
def get_transcript_by_interaction(interaction_id):
    get_transcript_by_interaction = f"""
        SELECT
          interaction_id,
          speaker_type,
          transcription
        FROM
          `genai-avengers.cimbniagagenai_ws4a.con_ws4a_rtaa_tbl_transcription`
        WHERE interaction_id = '{interaction_id}'
        order by interaction_id, createdon asc;
    """
    query_job = client.query(get_transcript_by_interaction)
    row_iterator_of_transcript = query_job.result()

    for row in row_iterator_of_transcript:
        # grouped_transcript[interaction_id].append(row[2])
        grouped_transcript[interaction_id].append({
            "role": row[1],
            "message": row[2],
        })

In [110]:
# for interaction_id in card_df['interaction_id'].unique():
#     get_transcript_by_interaction(interaction_id)

## SAVE DATA TO JSON

In [111]:
# # dict to json
# grouped_transcript_json = json.dumps(grouped_transcript)
#
# # save to json
# with open('transcript.json', 'w') as f:
#     f.write(grouped_transcript_json)

# load json to data frame

In [5]:
# load json
with open('transcript.json', 'r') as f:
    grouped_transcript = json.load(f)

# add transcript to data frame
nominal_df['transcript'] = nominal_df['interaction_id'].map(grouped_transcript)

In [6]:
nominal_df[['interaction_id', 'transcript']]

   interaction_id                                         transcript
0          yAysdV  [{'role': 'CCO', 'message': 'selamat siang agr...
1          oNeJTv  [{'role': 'CCO', 'message': 'selamat sore deng...
2          buRfJA  [{'role': 'CCO', 'message': 'begitu ya pak den...
3          vWXMGx  [{'role': 'CCO', 'message': 'selamat sore deng...
4          pOzHft  [{'role': 'CCO', 'message': 'selamat sore deng...
5          iamfTI  [{'role': 'CCO', 'message': 'selamat sore deng...
6          fejWQm  [{'role': 'CCO', 'message': 'selamat sore deng...
7          defbuu  [{'role': 'CCO', 'message': 'begitu dengan bap...
8          xXsVkl  [{'role': 'CCO', 'message': 'begitu dengan bap...
9          LDUBDz  [{'role': 'CCO', 'message': 'selamat sore deng...
10         IkwvuR  [{'role': 'CCO', 'message': 'sore pak'}, {'rol...
11         XXMirx                                                NaN
12         uCrDqG  [{'role': 'CCO', 'message': 'selamat siang den...
13         Kzrjte  [{'role': 'CCO', 'message': 'selamat siang den...
14         pSomjZ  [{'role': 'CCO', 'message': 'selamat sore deng...
15         CCUWeQ  [{'role': 'CCO', 'message': '5 2'}, {'role': '...
16         PNywPq  [{'role': 'CCO', 'message': 'selamat sore deng...
17         giMmXj  [{'role': 'Nasabah', 'message': 'mbak vira'}, ...
18         GGFHDy                                                NaN
19            NaN                                                NaN
20         NXwePv  [{'role': 'CCO', 'message': 'selamat sore deng...
21         ilTtKc  [{'role': 'CCO', 'message': 'ya'}, {'role': 'C...
22        NPeExN                                                 NaN
23         zIKpCE  [{'role': 'Nasabah', 'message': 'sore mbak nai...
24         IaLwyJ  [{'role': 'Nasabah', 'message': 'sore mbak nai...
25         Jhrupw  [{'role': 'CCO', 'message': 'selamat sore deng...
26         DdfhKH                                                NaN
27         esUREQ                                                NaN
28         VhVXED  [{'role': 'Nasabah', 'message': 'sore mana ira...
29         VJPhZY                                                NaN
30         OgLHqq                                                NaN
31         dDxrgN  [{'role': 'Nasabah', 'message': 'sore mana ora...
32         IRJctw                                                NaN
33         eoJcNt                                                NaN
34         LcRQus  [{'role': 'CCO', 'message': 'iya dengan bapak ...
35         oAuBPR  [{'role': 'CCO', 'message': 'selamat sore deng...
36         iyqAhC                                                NaN
37         ZxLRNx  [{'role': 'CCO', 'message': 'selamat sore deng...
38         eJLBQp  [{'role': 'Nasabah', 'message': 'saya merubah'...
39         mLuYtF  [{'role': 'Nasabah', 'message': 'halo selamat ...
40         apngOU  [{'role': 'CCO', 'message': 'selamat sore deng...
41         XIVrke  [{'role': 'CCO', 'message': 'selamat sore deng...
42         wvKPCZ                                                NaN
43         ipqsZV  [{'role': 'CCO', 'message': 'selamat sore deng...
44         WFlnvl  [{'role': 'CCO', 'message': 'selamat sore dan ...
45         garokb  [{'role': 'CCO', 'message': 'selamat sore deng...
46         myKkSw  [{'role': 'CCO', 'message': 'selamat sore deng...
47         TuUveh  [{'role': 'CCO', 'message': 'selamat sore deng...
48         aDZlQA  [{'role': 'CCO', 'message': 'miki bukannya sud...
49         YKovDp  [{'role': 'CCO', 'message': 'selamat sore deng...
50         dIVeRB                                                NaN
51         IrfIfL  [{'role': 'CCO', 'message': 'selamat sore deng...

In [7]:
import numpy as np
from evaluate import load
cer = load("cer")

def convert_to_number(text):
    if pd.isna(text):
        return np.nan
    text = str(text)
    numbers = ''.join(char for char in text if char.isdigit())

    return numbers if numbers else np.nan

def calculate_cer(expected, result):
    if pd.isna(expected) or pd.isna(result):
        return np.nan

    predictions = [result]
    references = [expected]
    return float(cer.compute(predictions=predictions, references=references))

/Users/hansel/Documents/CIMB/notebook-test/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
test = nominal_df[['interaction_id', 'transcript', 'Cleaned Summary', 'Cleaned Disebutkan']]
test.iloc[50:55]

,interaction_id,transcript,Cleaned Summary,Cleaned Disebutkan
50,dIVeRB,NaN,<NA>,35500650
51,IrfIfL,"[{'role': 'CCO', 'message': 'selamat sore deng...",2730000,2730000

In [9]:
nominal_df.loc[nominal_df['interaction_id'] == 'yAysdV', 'google_stt'] = convert_to_number('35500650')
nominal_df.loc[nominal_df['interaction_id'] == 'oNeJTv', 'google_stt'] = convert_to_number('1250500')
nominal_df.loc[nominal_df['interaction_id'] == 'buRfJA', 'google_stt'] = convert_to_number('3467750')
nominal_df.loc[nominal_df['interaction_id'] == 'vWXMGx', 'google_stt'] = convert_to_number('11567550')
nominal_df.loc[nominal_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('14500000')

# nominal_df.loc[nominal_df['interaction_id'] == 'iamfTI', 'google_stt'] = convert_to_number('5 2 4 4 6 5 4 3 1 0 0 8 2 1 4')
nominal_df.loc[nominal_df['interaction_id'] == 'fejWQm', 'google_stt'] = convert_to_number('24500750.0')
# nominal_df.loc[nominal_df['interaction_id'] == 'defbuu', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'xXsVkl', 'google_stt'] = convert_to_number('15750750')
nominal_df.loc[nominal_df['interaction_id'] == 'LDUBDz', 'google_stt'] = convert_to_number('35500650')

# card_df.loc[card_df['interaction_id'] == 'yAysdV', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'oNeJTv', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'buRfJA', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'vWXMGx', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('')

# nominal_df.loc[nominal_df['interaction_id'] == 'IkwvuR', 'google_stt'] = convert_to_number('533 6 9 3 3 4 4 78 9 1 4 56')
# nominal_df.loc[nominal_df['interaction_id'] == 'XXMirx', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'uCrDqG', 'google_stt'] = convert_to_number('1.250.500')
nominal_df.loc[nominal_df['interaction_id'] == 'Kzrjte', 'google_stt'] = convert_to_number('3467750')
nominal_df.loc[nominal_df['interaction_id'] == 'pSomjZ', 'google_stt'] = convert_to_number('11567550')

nominal_df.loc[nominal_df['interaction_id'] == 'CCUWeQ', 'google_stt'] = convert_to_number('14500000')
nominal_df.loc[nominal_df['interaction_id'] == 'PNywPq', 'google_stt'] = convert_to_number('350000')
nominal_df.loc[nominal_df['interaction_id'] == 'giMmXj', 'google_stt'] = convert_to_number('24500750')
# card_df.loc[card_df['interaction_id'] == 'GGFHDy', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('')

nominal_df.loc[nominal_df['interaction_id'] == 'NXwePv', 'google_stt'] = convert_to_number('35500650')
# nominal_df.loc[nominal_df['interaction_id'] == 'ilTtKc', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'NPeExN', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'zIKpCE', 'google_stt'] = convert_to_number('1467750')
# nominal_df.loc[nominal_df['interaction_id'] == 'IaLwyJ', 'google_stt'] = convert_to_number('332304230199001')

nominal_df.loc[nominal_df['interaction_id'] == 'Jhrupw', 'google_stt'] = convert_to_number('14500000')
# nominal_df.loc[nominal_df['interaction_id'] == 'DdfhKH', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'esUREQ', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'VhVXED', 'google_stt'] = convert_to_number('4.356.000')
# nominal_df.loc[nominal_df['interaction_id'] == 'pOzHVJPhZYft', 'google_stt'] = convert_to_number('')

# nominal_df.loc[nominal_df['interaction_id'] == 'OgLHqq', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'dDxrgN', 'google_stt'] = convert_to_number('2.730.000')
# nominal_df.loc[nominal_df['interaction_id'] == 'IRJctw', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'eoJcNt', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'LcRQus', 'google_stt'] = convert_to_number('')

nominal_df.loc[nominal_df['interaction_id'] == 'oAuBPR', 'google_stt'] = convert_to_number('14500000')
# nominal_df.loc[nominal_df['interaction_id'] == 'iyqAhC', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'ZxLRNx', 'google_stt'] = convert_to_number('')
# nominal_df.loc[nominal_df['interaction_id'] == 'eJLBQp', 'google_stt'] = convert_to_number('3.467.000')
# nominal_df.loc[nominal_df['interaction_id'] == 'mLuYtF', 'google_stt'] = convert_to_number('11567055')

# nominal_df.loc[nominal_df['interaction_id'] == 'apngOU', 'google_stt'] = convert_to_number('14500000')
# nominal_df.loc[nominal_df['interaction_id'] == 'XIVrke', 'google_stt'] = convert_to_number('1.735.500')
# nominal_df.loc[nominal_df['interaction_id'] == 'wvKPCZ', 'google_stt'] = convert_to_number('24500024')
nominal_df.loc[nominal_df['interaction_id'] == 'ipqsZV', 'google_stt'] = convert_to_number('3.467.000')
nominal_df.loc[nominal_df['interaction_id'] == 'WFlnvl', 'google_stt'] = convert_to_number('11567055')

nominal_df.loc[nominal_df['interaction_id'] == 'garokb', 'google_stt'] = convert_to_number('14500000')
nominal_df.loc[nominal_df['interaction_id'] == 'myKkSw', 'google_stt'] = convert_to_number('1.735.500')
nominal_df.loc[nominal_df['interaction_id'] == 'TuUveh', 'google_stt'] = convert_to_number('24500024')
# nominal_df.loc[nominal_df['interaction_id'] == 'aDZlQA', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'YKovDp', 'google_stt'] = convert_to_number('15750750')

# card_df.loc[card_df['interaction_id'] == 'dIVeRB', 'google_stt'] = convert_to_number('')
nominal_df.loc[nominal_df['interaction_id'] == 'IrfIfL', 'google_stt'] = convert_to_number('2.730.000')

In [10]:
nominal_df

,interaction_id,Nominal yang disebutkan nasabah,Nominal yang muncul di Summary Conversation,Cleaned Disebutkan,Cleaned Summary,cer nominal,transcript,google_stt
0,yAysdV,35.500.650,35.500.650,35500650,35500650,0.000,"[{'role': 'CCO', 'message': 'selamat siang agr...",35500650
1,oNeJTv,1.250.500,1.250.500,1250500,1250500,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",1250500
2,buRfJA,3.467.750,3.467.750,3467750,3467750,0.000,"[{'role': 'CCO', 'message': 'begitu ya pak den...",3467750
3,vWXMGx,11.567.550,11.567.550,11567550,11567550,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",11567550
4,pOzHft,14.500.000,14.000.000,14500000,14000000,0.125,"[{'role': 'CCO', 'message': 'selamat sore deng...",14500000
5,iamfTI,1.735.500,Tidak muncul,1735500,<NA>,NaN,"[{'role': 'CCO', 'message': 'selamat sore deng...",NaN
6,fejWQm,24.500.750,24.500.750,24500750,24500750,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",245007500
7,defbuu,4.356.000,4.356.000,4356000,4356000,0.000,"[{'role': 'CCO', 'message': 'begitu dengan bap...",NaN
8,xXsVkl,15.750.750,15.750.750,15750750,15750750,0.000,"[{'role': 'CCO', 'message': 'begitu dengan bap...",15750750
9,LDUBDz,35.500.650,35.500.650,35500650,35500650,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",35500650
10,IkwvuR,2.730.000,2.730.000,2730000,2730000,0.000,"[{'role': 'CCO', 'message': 'sore pak'}, {'rol...",NaN
11,XXMirx,1250500,tidak muncul,1250500,<NA>,NaN,NaN,NaN
12,uCrDqG,1250500,1250500,1250500,1250500,0.000,"[{'role': 'CCO', 'message': 'selamat siang den...",1250500
13,Kzrjte,3467750,3.467.750,3467750,3467750,0.000,"[{'role': 'CCO', 'message': 'selamat siang den...",3467750
14,pSomjZ,11567550,11567550,11567550,11567550,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",11567550
15,CCUWeQ,14500000,14500000,14500000,14500000,0.000,"[{'role': 'CCO', 'message': '5 2'}, {'role': '...",14500000
16,PNywPq,1735500,nominal tidak muncul,1735500,<NA>,NaN,"[{'role': 'CCO', 'message': 'selamat sore deng...",350000
17,giMmXj,24500750,24500750,24500750,24500750,0.000,"[{'role': 'Nasabah', 'message': 'mbak vira'}, ...",24500750
18,GGFHDy,4356000,tidak muncul,4356000,<NA>,NaN,NaN,NaN
19,NaN,15.750.750,15.750.750,15750750,15750750,0.000,NaN,NaN
20,NXwePv,35500650,35.500.000,35500650,35500000,0.250,"[{'role': 'CCO', 'message': 'selamat sore deng...",35500650
21,ilTtKc,2.730.000,2.730.000,2730000,2730000,0.000,"[{'role': 'CCO', 'message': 'ya'}, {'role': 'C...",NaN
22,NPeExN,1.250.500,1250500,1250500,1250500,0.000,NaN,NaN
23,zIKpCE,3.467.750,3.467.750,3467750,3467750,0.000,"[{'role': 'Nasabah', 'message': 'sore mbak nai...",1467750
24,IaLwyJ,11.567.550,11.567.550,11567550,11567550,0.000,"[{'role': 'Nasabah', 'message': 'sore mbak nai...",NaN
25,Jhrupw,14500000,14.500.000,14500000,14500000,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",14500000
26,DdfhKH,,,<NA>,<NA>,NaN,NaN,NaN
27,esUREQ,24.500.750,24.500.750,24500750,24500750,0.000,NaN,NaN
28,VhVXED,4.356.000,4.356.000,4356000,4356000,0.000,"[{'role': 'Nasabah', 'message': 'sore mana ira...",4356000
29,VJPhZY,15.750.750,tidak muncul,15750750,<NA>,NaN,NaN,NaN
30,OgLHqq,35.500.650,35500650,35500650,35500650,0.000,NaN,NaN
31,dDxrgN,2.730.000,2.730.000,2730000,2730000,0.000,"[{'role': 'Nasabah', 'message': 'sore mana ora...",2730000
32,IRJctw,Rp 1.250.500,Rp 1.250.500,1250500,1250500,0.000,NaN,NaN
33,eoJcNt,3.467.750,Tidak muncul,3467750,<NA>,NaN,NaN,NaN
34,LcRQus,11.567.560,11.567.550,11567560,11567550,0.125,"[{'role': 'CCO', 'message': 'iya dengan bapak ...",NaN
35,oAuBPR,14.500.000,14.500.000,14500000,14500000,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",14500000
36,iyqAhC,1.735.500,1.735.500,1735500,1735500,0.000,NaN,NaN
37,ZxLRNx,24.500.750,24.750.000,24500750,24750000,0.375,"[{'role': 'CCO', 'message': 'selamat sore deng...",NaN
38,eJLBQp,4.356.000,4.356.000,4356000,4356000,0.000,"[{'role': 'Nasabah', 'message': 'saya merubah'...",NaN
39,mLuYtF,15.750.750,15.750.750,15750750,15750750,0.000,"[{'role': 'Nasabah', 'message': 'halo selamat ...",NaN
40,apngOU,35.500.650,35.500.650,35500650,35500650,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",NaN
41,XIVrke,2.730.000,2.730.000,2730000,2730000,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",NaN
42,wvKPCZ,1.250.500,nominal tidak muncul,1250500,<NA>,NaN,NaN,NaN
43,ipqsZV,3.467.750,3.467.750,3467750,3467750,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",3467000
44,WFlnvl,11.567.550,11.567.000,11567550,11567000,0.250,"[{'role': 'CCO', 'message': 'selamat sore dan ...",11567055
45,garokb,14.500.000,14.500.000,14500000,14500000,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",14500000
46,myKkSw,1.735.500,1.735.500,1735500,1735500,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",1735500
47,TuUveh,24.500.750,24.500.075,24500750,24500075,0.250,"[{'role': 'CCO', 'message': 'selamat sore deng...",24500024
48,aDZlQA,4.356.000,nominal tidak muncul,4356000,<NA>,NaN,"[{'role': 'CCO', 'message': 'miki bukannya sud...",NaN
49,YKovDp,15.750.750,15.750.000,15750750,15750000,0.250,"[{'role': 'CCO', 'message': 'selamat sore deng...",15750750
50,dIVeRB,35.500.650,nominal tidak muncul,35500650,<NA>,NaN,NaN,NaN
51,IrfIfL,2.730.000,2.730.000,2730000,2730000,0.000,"[{'role': 'CCO', 'message': 'selamat sore deng...",2730000

In [11]:
nominal_df['google_stt_cer'] = nominal_df.apply(lambda row: calculate_cer(str(row['Cleaned Disebutkan']), str(row['google_stt'])), axis=1)

nominal_df['llm_vs_google_stt_cer'] = nominal_df.apply(lambda row: calculate_cer(row['google_stt'], str(row['Cleaned Summary'])), axis=1)

nominal_df[['interaction_id', 'Cleaned Summary', 'google_stt', 'llm_vs_google_stt_cer']]

   interaction_id  Cleaned Summary google_stt  llm_vs_google_stt_cer
0          yAysdV         35500650   35500650               0.000000
1          oNeJTv          1250500    1250500               0.000000
2          buRfJA          3467750    3467750               0.000000
3          vWXMGx         11567550   11567550               0.000000
4          pOzHft         14000000   14500000               0.125000
5          iamfTI             <NA>        NaN                    NaN
6          fejWQm         24500750  245007500               0.111111
7          defbuu          4356000        NaN                    NaN
8          xXsVkl         15750750   15750750               0.000000
9          LDUBDz         35500650   35500650               0.000000
10         IkwvuR          2730000        NaN                    NaN
11         XXMirx             <NA>        NaN                    NaN
12         uCrDqG          1250500    1250500               0.000000
13         Kzrjte          3467750    3467750               0.000000
14         pSomjZ         11567550   11567550               0.000000
15         CCUWeQ         14500000   14500000               0.000000
16         PNywPq             <NA>     350000               1.000000
17         giMmXj         24500750   24500750               0.000000
18         GGFHDy             <NA>        NaN                    NaN
19            NaN         15750750        NaN                    NaN
20         NXwePv         35500000   35500650               0.250000
21         ilTtKc          2730000        NaN                    NaN
22        NPeExN           1250500        NaN                    NaN
23         zIKpCE          3467750    1467750               0.142857
24         IaLwyJ         11567550        NaN                    NaN
25         Jhrupw         14500000   14500000               0.000000
26         DdfhKH             <NA>        NaN                    NaN
27         esUREQ         24500750        NaN                    NaN
28         VhVXED          4356000    4356000               0.000000
29         VJPhZY             <NA>        NaN                    NaN
30         OgLHqq         35500650        NaN                    NaN
31         dDxrgN          2730000    2730000               0.000000
32         IRJctw          1250500        NaN                    NaN
33         eoJcNt             <NA>        NaN                    NaN
34         LcRQus         11567550        NaN                    NaN
35         oAuBPR         14500000   14500000               0.000000
36         iyqAhC          1735500        NaN                    NaN
37         ZxLRNx         24750000        NaN                    NaN
38         eJLBQp          4356000        NaN                    NaN
39         mLuYtF         15750750        NaN                    NaN
40         apngOU         35500650        NaN                    NaN
41         XIVrke          2730000        NaN                    NaN
42         wvKPCZ             <NA>        NaN                    NaN
43         ipqsZV          3467750    3467000               0.285714
44         WFlnvl         11567000   11567055               0.250000
45         garokb         14500000   14500000               0.000000
46         myKkSw          1735500    1735500               0.000000
47         TuUveh         24500075   24500024               0.250000
48         aDZlQA             <NA>        NaN                    NaN
49         YKovDp         15750000   15750750               0.250000
50         dIVeRB             <NA>        NaN                    NaN
51         IrfIfL          2730000    2730000               0.000000

In [14]:
# export dataframe to excell
nominal_df.to_excel('result/google_stt_accuracy.xlsx')

In [13]:
test = nominal_df[['interaction_id', 'Cleaned Summary', 'google_stt', 'google_stt_cer', 'llm_vs_google_stt_cer']]
test
# test.loc[test['interaction_id'] == 'NXwePv']

,interaction_id,Cleaned Summary,google_stt,google_stt_cer,llm_vs_google_stt_cer
0,yAysdV,35500650,35500650,0.000000,0.000000
1,oNeJTv,1250500,1250500,0.000000,0.000000
2,buRfJA,3467750,3467750,0.000000,0.000000
3,vWXMGx,11567550,11567550,0.000000,0.000000
4,pOzHft,14000000,14500000,0.000000,0.125000
5,iamfTI,<NA>,NaN,1.000000,NaN
6,fejWQm,24500750,245007500,0.125000,0.111111
7,defbuu,4356000,NaN,1.000000,NaN
8,xXsVkl,15750750,15750750,0.000000,0.000000
9,LDUBDz,35500650,35500650,0.000000,0.000000
10,IkwvuR,2730000,NaN,1.000000,NaN
11,XXMirx,<NA>,NaN,1.000000,NaN
12,uCrDqG,1250500,1250500,0.000000,0.000000
13,Kzrjte,3467750,3467750,0.000000,0.000000
14,pSomjZ,11567550,11567550,0.000000,0.000000
15,CCUWeQ,14500000,14500000,0.000000,0.000000
16,PNywPq,<NA>,350000,0.571429,1.000000
17,giMmXj,24500750,24500750,0.000000,0.000000
18,GGFHDy,<NA>,NaN,1.000000,NaN
19,NaN,15750750,NaN,1.000000,NaN
20,NXwePv,35500000,35500650,0.000000,0.250000
21,ilTtKc,2730000,NaN,1.000000,NaN
22,NPeExN,1250500,NaN,1.000000,NaN
23,zIKpCE,3467750,1467750,0.142857,0.142857
24,IaLwyJ,11567550,NaN,1.000000,NaN
25,Jhrupw,14500000,14500000,0.000000,0.000000
26,DdfhKH,<NA>,NaN,1.000000,NaN
27,esUREQ,24500750,NaN,1.000000,NaN
28,VhVXED,4356000,4356000,0.000000,0.000000
29,VJPhZY,<NA>,NaN,1.000000,NaN
30,OgLHqq,35500650,NaN,1.000000,NaN
31,dDxrgN,2730000,2730000,0.000000,0.000000
32,IRJctw,1250500,NaN,1.000000,NaN
33,eoJcNt,<NA>,NaN,1.000000,NaN
34,LcRQus,11567550,NaN,1.000000,NaN
35,oAuBPR,14500000,14500000,0.000000,0.000000
36,iyqAhC,1735500,NaN,1.000000,NaN
37,ZxLRNx,24750000,NaN,1.000000,NaN
38,eJLBQp,4356000,NaN,1.000000,NaN
39,mLuYtF,15750750,NaN,1.000000,NaN
40,apngOU,35500650,NaN,1.000000,NaN
41,XIVrke,2730000,NaN,1.000000,NaN
42,wvKPCZ,<NA>,NaN,1.000000,NaN
43,ipqsZV,3467750,3467000,0.285714,0.285714
44,WFlnvl,11567000,11567055,0.250000,0.250000
45,garokb,14500000,14500000,0.000000,0.000000
46,myKkSw,1735500,1735500,0.000000,0.000000
47,TuUveh,24500075,24500024,0.375000,0.250000
48,aDZlQA,<NA>,NaN,1.000000,NaN
49,YKovDp,15750000,15750750,0.000000,0.250000
50,dIVeRB,<NA>,NaN,1.000000,NaN
51,IrfIfL,2730000,2730000,0.000000,0.000000